/* pages */
.ekc-page-delete-link {
  display: block;
  text-align: right;
}

/* forms */
label.ekc-required::after {
  content: " *";
}

.ekc-controls {
  margin-top: 1em;
}

.ekc-control-group {
  display: grid;
  grid-template-columns: 12em max-content;
  margin-top: 0.7em;
}

.ekc-control-group p {
  margin-top: 2px;
  margin-left: 5px;
}
 
/* elimination bracket */
.columns::after {
  clear: both;
}

.columns .column {
  float:left;
}

/* combobox */
.ekc-combobox-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 3em;
}

.ekc-combobox-input {
  width: 35ch;
  margin: 0;
  padding: 5px 10px;
}

.ekc-combobox-button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}

/* swiss system */
.ekc-result-missing input {
  border-color: #fd0;
  background-color: #fe9;
}

.ekc-duplicate-teams span input {
  border-color: #a00;
  background-color: #fbb;
}